.langbutton {
  position: absolute;
  display: block;
  width: 40px;
  height: 30px;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 0.625rem 0;
  margin-left: 15px;
  line-height: 50px;
  cursor: pointer;
  border-radius: 3px;
}

.langbutton.th {
  background-image: url(../flags/4x3/th.svg);
}

.langbutton.en:before, .langbutton.en:after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 30px;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 3px;
  top:0;
}
  .langbutton.en:before {
  background-image: url(../flags/4x3/us.svg);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.langbutton.en:after {
  background-image: url(../flags/4x3/gb.svg);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}


.logo span {
    display: block;
    font-size: 0.8em;
    text-transform: capitalize;
}
#books {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../img/books.png);
  background-size: cover;
  line-height: 25px;
  vertical-align: middle;

}
#logo {
  display: inline-block;
  width: 150px;
  height: 25px;
  background: url(../img/logo.png);
  background-size: cover;
  line-height: 25px;
  vertical-align: middle;
}
iframe {
  display: block;
  width: 100%;
  border: none;
  overflow: hidden;
}
.nav-item.active {
    font-weight: 500;
}
.dark-edition .footer ul li span {
    color: #aaa;
    padding: 0.9375rem;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
    line-height: 12px;
}
.dark-edition .footer ul li span i {
    font-size: 12px !important;
    line-height: 12px;
}
.showlist th td:first-child,
.showlist tr td:first-child{
  min-width: 90px;
}
.showlist tr td:nth-child(3) {
  min-width: 120px;
}
table {
    text-align: center;
}
table th {
    color: #1da1f2 !important;
}
td a {
    display: inline-block;
    padding: 2.5px 5px;
}
td div a {
    margin: 2.5px 0;
}
td div:first-child a{
    margin: 2.5px 0 0;
}
td div:last-child a {
    margin: 0 0 2.5px;
}
td div:first-child:nth-last-child(2) ~ div a {
	margin: 2.5px 0 !important;
}
td > a:first-child:nth-last-child(1) {
    margin: 0 !important;
}
tbody tr:nth-child(odd){
    background: #0c1322;
} 
a span.ext{
    color: #ddd;
}
a.link {
    color: #fff;
}
a.youtube {
    color: #ff0000;
}
a.facebook {
    color: #1877f2;
}
.fab.fa-facebook {
  color: transparent;
  background: url(../img/f_logo_RGB-Blue_512.png);
  background-size: cover;
}
.fab.fa-twitter {
  color: transparent;
  background: url(../img/Twitter_Social_Icon_Circle_Color.png);
  background-size: cover;
}
.fab.fa-instagram {
  color: transparent;
  background: url(../img/Instagram_AppIcon_Aug2017.png);
  background-size: cover;
  width: 14px;
}
.fab.fa-youtube {
  background: radial-gradient(white 35%, transparent 35%);
}
li .fab.fa-youtube {
  background: transparent;
}
.fab.fa-vimeo {
  background: radial-gradient(white 58.5%, transparent 58.5%);
}
a.twitter {
    color: #1da1f2;
}
a.linetv {
    color: #00e14a;
}
i.linetv {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-top: -2.5px;
    background: url(https://tv.line.me/favicon.ico);
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
}
a.netflix {
    color: #e50914;
}
i.netflix {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-top: -2.5px;
    background: url(https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico);
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
}
a.viu {
    color: #ffbf00;
}
i.viu {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-top: -2.5px;
    background: url(https://www.viu.com/ott/th/v1/images/favicon.ico);
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
}
a.seeme {
    color: #f15922;
}
i.seeme {
    display: inline-block;
    height: 12px;
    width: 53px;
    margin-top: -2.5px;
    background: url(../img/seeme.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}
a.mono {
    color: #f15c25;
}
i.mono {
    display: inline-block;
    height: 12px;
    width: 24px;
    margin-top: -2.5px;
    background: url(../img/mono.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}
i.monomaxx {
    display: inline-block;
    height: 12px;
    width: 50px;
    margin-top: -2.5px;
    background: url(https://www.monomax.me/assets/monomax/images/monomax-logo-hd.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}
a.mello {
    color: #fff;
}
i.mello {
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-top: -2.5px;
    background: url(https://ch3plus.com/static/images/favicon/favicon-192x192.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}
i.lakornasia {
  display: inline-block;
  height: 12px;
  width: 98px;
  margin-top: -2.5px;
  background: url(../img/lakornasia.png);
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}
i.adintrend {
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-top: -2.5px;
    background: url(https://www.adintrend.tv/favicons/favicon.ico);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}
a.vimeo {
    color: #00adef;
}
a.moveek {
    color: #d71002;
}
i.moveek {
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-top: -2.5px;
    background: url(https://moveek.com/favicon.png);
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.card-icon {
  width: 90px;
  height: 90px;
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
}
.card-icon img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  position: relative;
}
.card-header-icon .card-header-instagram {
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  margin-bottom: 40px;
}
.card-header-instagram .card-title {
  text-align: center;
  color: #fff !important;
}
.card-stats .card-footer {
  text-align: center;
  display: inline-block;
}
.card-stats .card-footer .stats {
  display: block;
  width: 100%;
  padding: 7.5px 0;
  border-radius: 3px;
}
.card-stats .card-footer .stats:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.fa-stack {
  font-size: 0.5em;
}
.stats .fa-youtube {
  color: #ff0000;
}
.card-stats.ig .card-category{
  color: #e1306c !important;
}
.card-stats.twi .card-category{
  color: #1da1f2 !important;
}
.card-stats.fb .card-category{
  color: #1778f2 !important;
}
.card-stats.yt .card-category{
  color: #ff0000 !important;
}
#igfollower, #twitterfollower, #fbfollower, #ytfollower {
  font-family: Roboto;
}
#triplen.active > a {
  background: #ff0000;
}
#table-triplen {
  background: #212121 !important;
}
#table-triplen .card-header {
  background: #ff0000;
}
#table-triplen .card-header {
  padding: 0;
}
#table-triplen .card-header a {
  padding: 15px;
  display: block;
}
#table-triplen .card-header .fa-youtube {
  background: none;
}
#table-triplen table th {
  color: #ff0000 !important;
}
#table-triplen tbody tr:nth-child(2n+1) {
  background: #181818;
}
#table-triplen.card .card-header-primary {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 0, 0, 0.4);
}
#table-triplen table .triplentitle {
  color: #fff !important;
  background: #0f0f0f;
}
.subtitle {
  display:none;
}

#nanon_diary {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: -3px;
    background: url(../img/nanon_diary.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}
.footer button {
  position: fixed;
  z-index: 99;
  width: 230px;  
  left: 15px;
  bottom: 15px;
}
@media (max-width: 991px) {
  .footer {
    bottom: -15px;
  }
  .footer button {
    position: relative;
    width: unset;
    left: unset;
    bottom: unset;
  }
}
.nav-button {
    display: block;
    padding: 0.5rem 1rem;
  }
  .sidebar .nav li:hover > a.nav-button {
    background: transparent !important;
  }
.nav-bottom {
    width: 100%;
    position: absolute;
    bottom: 0.5rem;
}
.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
  }
  
  .tim-typo .tim-note {
    bottom: 5px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
  }
  
  /* offline-doc */
  
  .offline-doc .navbar.navbar-transparent {
    padding-top: 25px;
    border-bottom: none;
  }
  
  .offline-doc .navbar.navbar-transparent .navbar-minimize {
    display: none;
  }
  
  .offline-doc .navbar.navbar-transparent .navbar-brand,
  .offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
    color: #FFF;
  }
  
  .offline-doc .footer {
    z-index: 3 !important;
    position: absolute;
    width: 100%;
    background: transparent;
    bottom: 0;
    color: #fff;
  }
  
  .offline-doc .page-header .content-center {
    z-index: 3;
  }
  
  .offline-doc .brand .title {
    color: #fff;
  }
  
  .offline-doc .footer {
    z-index: 3 !important;
  }
  
  .offline-doc .page-header .container {
    z-index: 3;
  }
  
  .offline-doc .page-header:after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  
  @media all and (max-width: 991px) {
  
    .offline-doc .navbar .navbar-collapse.collapse,
    .offline-doc .navbar .navbar-collapse.collapse.in,
    .offline-doc .navbar .navbar-collapse.collapsing {
      display: block !important;
    }
  
    .nav-open .offline-doc .navbar-wrapper,
    .nav-open .offline-doc .navbar-toggler {
      -webkit-transform: translate3d(-260px, 0, 0);
      -moz-transform: translate3d(-260px, 0, 0);
      -o-transform: translate3d(-260px, 0, 0);
      -ms-transform: translate3d(-260px, 0, 0);
      transform: translate3d(-260px, 0, 0);
    }
  
    .offline-doc .navbar-wrapper,
    .offline-doc .navbar-toggler {
      -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
  
    .offline-doc .navbar .collapse .navbar-nav .nav-item .nav-link {
      margin-left: 15px;
      color: #8b92a9 !important;
    }
  }
  
  #map {
    z-index: 2;
    height: calc(100vh - 70px);
    margin-top: 70px;
  }
  
  .bd-docs.dark-edition .bd-example {
    background-color: #1a2035;
    border: 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .bd-docs.dark-edition {
    background-color: #fff;
  }